<title>Welcome to My Bound Tester App!</title>
<h1>It is a bound-tester!</h1>
<p>Enter the int array to first box line by line. Enter index to second and bounds to others.</p>
<p>Program will calculate if the number you select (with index) is between the bounds.</p>
Result is {{result}}

<form action="compute" method="post">
    <textarea name="input1" rows="10" cols="30"></textarea>
    <textarea name="input2" rows="10" cols="30"></textarea>
    <textarea name="input3" rows="10" cols="30"></textarea>
    <textarea name="input4" rows="10" cols="30"></textarea>
    <br>
    <input type="submit">
</form>